<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>老化查询平台</title>
</head>
<body>
    <form action = "http://192.168.28.234:5000/aging" method = "GET">
        <div>
            <table>
                <tr>
                    <th>
                        IP地址
                    </th>
                    <th>
                        <input id="ip" type = "text" name = "IP_ADDRESS"/>
                    </th>
                    <th>
                        端口
                    </th>
                    <th>
                        <input id="port" type = "text" name = "PORT"/>
                    </th>
                    <th>
                        账户
                    </th>
                    <th>
                        <input id="user" type = "text" name = "USER"/>
                    </th>
                    <th>
                        密码
                    </th>
                    <th>
                        <input id="password" type = "text" name = "PASSWORD"/>
                    </th>
                    <th>
                        <input type="submit" value="查询" style="width: 60px" onclick="inOut(0);">
                    </th>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>